{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="container">
    <h1>Hello, World! :))</h1>
    <pre>
        The propouse of this app is to show the posts from a database,
        but at the same time, to be able to: 
        <ul>
            <li>Add a new post</li>
            <li>Edit some post</li>
            <li>Show the details of an specific post</li>
            <li>Delete any post</li>
        </ul>
    </pre>
</div>
{% endblock content %}